* {
    font-family: FontAwesome, JetbrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
	background-color: rgba(30, 30, 46, 0.75);
    border-bottom: 2px solid #74c7ec;
    color: rgba(205, 214, 244, 1);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
/*window#waybar.termite {*/
/*    background-color: #3F3F3F;*/
/*}*/
/*window#waybar.chromium {*/
/*    background-color: #000000;*/
/*    border: none;*/
/*}*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	/*color: #181825;*/
	/*   background-color: #f9e2af;*/
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    /*color: #ffffff;*/
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    /*background-color: #64727D;*/
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#workspaces button.active {
    box-shadow: inset 0 -3px #ffffff;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #cdd6f4;
}

#window,
#workspaces {
    color: #cdd6f4;
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /*background-color: #64727D;*/
}

#battery {
    /*background-color: #ffffff;*/
    /*color: #000000;*/
}

#battery.charging, #battery.plugged {
    /*color: #ffffff;*/
	color: #181825;
    background-color: #a6e3a1;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.warning:not(.charging) {
	background-color: #f9e2af;
	color: #181825;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f38ba8;
	color: #181825;
    /*color: #ffffff;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    /*background-color: #f53c3c;*/
    /*color: #ffffff;*/
	/*border-bottom: 2px solid #f38ba8;*/
}

#power-profiles-daemon.balanced {
    /*background-color: #2980b9;*/
    /*color: #ffffff;*/
	/*border-bottom: 2px solid #94e2d5;*/
}

#power-profiles-daemon.power-saver {
    /*background-color: #2ecc71;*/
    /*color: #000000;*/
	/*border-bottom: 2px solid #a6e3a1;*/
}

label:focus {
    background-color: #000000;
}

#cpu {
	/*border-left: 2px solid #cdd6f4;*/
	/*border-bottom: 2px solid #a6e3a1;*/
    /*background-color: #2ecc71;*/
    /*color: #000000;*/
}

#memory {
	/*border-right: 2px solid #cdd6f4;*/
	/*border-left: 2px solid #cdd6f4;*/
	/*border-bottom: 2px solid #cba6f7;*/
    /*background-color: #9b59b6;*/
}

#disk {
    background-color: #964B00;
}

#backlight {
    /*background-color: #90b1b1;*/
	/*border-bottom: 2px solid #f9e2af;*/
}

#network {
	/*border-bottom: 2px solid #89b4fa;*/
    /*background-color: #2980b9;*/
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    /*background-color: #f1c40f;*/
    /*color: #000000;*/
}

#pulseaudio.muted {
    /*background-color: #90b1b1;*/
    /*color: #2a5c45;*/
}

#temperature {
    /*background-color: #f0932b;*/
}

#temperature.critical {
    background-color: #f38ba8;
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
